body, html {
    height: 100%;
    text-align: center;
    justify-content: center;
    margin: auto;
    max-width: 900px;
}
table {
    text-align: center;
    justify-content: center;
}
th {
    border: 1px solid black;
    padding: 8px;
}
img {
    width: 100%; 
    height: auto; 
    display: block;
    margin: 0 auto; 
}
.center_top_col{
    width: 50%; 
    text-align: center;
}
.left_top_col {
    width: 35%; 
    text-align: left;
}
.mid_top_col {
    width: 15%; 
    text-align: left;
}
.right_top_col {
    text-align: left;
}

.content_table {
    border-collapse: collapse;
    width: 100%;
}
.content_table td {
    border: 1px solid black;
    padding: 8px;
    border-bottom: none;
    border-top: none;
}
.content_table tbody {
    border-bottom: 1px solid black;
}
